html,
body {
  padding: 0;
  margin: 0;
}

#bear {
  position: absolute;
  left: 100px;
  /*top: 240px;*/
  width: 100px;
  height: 160px;
}

#bee {
  position: absolute;
  left: 100px;
  /*top: 240px;*/
  width: 50px;
  height: 60px;
}

#board {
  position: absolute;
  height: 600px;
  width: 100%;
  background-color: rgb(6, 106, 136);
  align-content: center;
  align-self: center;
}

#title {
  background-color: rgb(63, 145, 151);
  align-content: center;
  align-self: center;
  overflow: hidden;
  padding: 20px;
}

#scores {
  background-color: rgb(45, 92, 194);
  align-content: center;
  align-self: center;
}

/*#start, #game-over {
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 20px;
  position: fixed;
  top:50%;
  left:50%;
  margin-top: -100px;
  margin-left: -100px;
  height:200px;
  width:250px;
  text-align: center;
}

#start a, #game-over a {
  border: 3px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  width: 200px;
  text-align: center;
  font-size:2em;
  display: inline-block;
}

#start a:hover, #game-over a:hover { background-color: #ffffff; color: #1bafdb; }*/

.location {
  color: rgb(141, 132, 53);
}

#hits {
  color: red;
}

#duration {
  color: rgb(80, 168, 87);
}
